<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sm70_cp_450_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sm70_cp_450_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sm70_cp_450_GUI.Properties.Settings>
            <setting name="_ratedVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_ratedCapacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_cRating" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_ratedPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_StoredVoltageSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_StoredCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_StoredPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_StoredNegativeCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_StoredNegativePower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_KeepMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocationCSV" serializeAs="String">
                <value>CSV</value>
            </setting>
            <setting name="SaveLocationLOG" serializeAs="String">
                <value>LOGS</value>
            </setting>
        </sm70_cp_450_GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <sm70_cp_450_GUI.Properties.Settings>
            <setting name="_IpAddres" serializeAs="String">
                <value>169.254.0.102</value>
            </setting>
            <setting name="_Port" serializeAs="String">
                <value>8462</value>
            </setting>
        </sm70_cp_450_GUI.Properties.Settings>
    </applicationSettings>
</configuration>